html,
body {
  height: auto;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  /* background-color: rgb(164, 160, 137); */
  background-color: #1b1c1b;
  font-family: "Roboto", sans-serif;
  color: white;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

#main {
  position: auto;
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
}

#app {
  width: 100%;
  height: auto;
  display: flex;
}

/* NavBar */

.NavBar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 220px;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #111111;
  color: white;
  padding: 20px;
  box-sizing: border-box;
}

.NavBar #Title {
  font-size: 24px;
  padding-bottom: 20px;
  margin-left: -15px;
  text-align: center;
  width: 90%;
  border-bottom: 1px solid #2a2a2a;
}

.NavBar span {
  float: right;
  padding-top: 1px;
}

.NavBar button {
  background-color: isA;
}

.Playback {
  margin-top: auto;
  text-align: center;
  border-top: 1px solid #fff;
  color: white;
}

.Playback #NowPlaying {
  margin-top: 10px;
}

.Playback link {
  text-decoration: none;
}

.Playback img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 20px;
}

.NoAction {
  margin-top: auto;
  text-align: center;
}

.login-btn {
  color: #fff;
  font-size: 12px;
  line-height: 1;
  border-radius: 50px;
  padding: 10px 10px;
  transition-property: background-color;
  transition-duration: 0.3s;
  border: none;
  min-width: 80px;
  text-transform: uppercase;
  white-space: normal;
  cursor: pointer;
  width: 40%;
  margin-top: 20px;
}

/* Profile Page */

.ProfilePage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px;
  margin-top: 10px;
  border-bottom: 2px solid #2a2a2a;
}

.ProfilePage img {
  border-radius: 50%;
}

.ProfilePage h1 {
  margin-left: 40px;
  font-size: 3em;
}

/* Playlists */

.ShowMore {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;
  color: white;
}

.ShowMore button {
  align-self: flex-end;
  background: transparent;
  border: none;
  cursor: pointer;
  color: white;
}

.Playlist {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.Playlist div {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 8px;
  padding: 10px;
  background-color: #181818;
}

.Playlist img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
}

.Playlist h3 {
  margin-top: 10px;
}

/* Home Page */

.HomeTopBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background: #171717;
  height: 120px;
}

.HomeTopBar #Welcome {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.HomeTopBar h1 {
  font-size: 3rem;
}

.HomeContent {
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 15px;
  padding: 10px;
  background-color: #151515;
  margin-bottom: 40px;
}

.HomeContent h2 {
  padding-bottom: 10px;
  padding-left: 10px;
  border-bottom: 2px solid #2a2a2a;
}

.HomeContent img {
  border-radius: 50%;
}

.HomeContent Link {
  text-decoration: none;
}

.HomeContent #Activity {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}

.HomeContent #TrackName {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 5px;
  margin-left: 10px;
  color: white;
}

.HomeContent #ArtistName {
  padding-bottom: 5px;
  margin-left: 10px;
  color: white;
}

.HomeContent p {
  color: white;
}

.HomeContent h3 {
  color: white;
  cursor: pointer;
  text-align: center;
}

/* Song/Album Pages */

.songcard {
  margin-top: 50px;
  margin-left: 50px;
  width: 380px;
  padding: 16px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 15px;
  padding: 10px;
  background: #141414;
}

.songcard img {
  width: 350px;
  padding-top: 20px;
}

.songcard button {
  background-color: rgb(61, 163, 211);
  color: white;
  padding: 10px 10px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
  width: 40%;
  border-radius: 8px;
}

/* Search Bar */

.SearchBar {
  display: flex;
  align-items: center;
  padding: 0;
}

.SearchBar input[type="text"] {
  max-height: 30px;
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Search Results */

.SearchResultsHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px;
  border-bottom: 2px solid #2a2a2a;
}

.SearchResultsHeading #Head {
  display: flex;
  flex-direction: column;
}

.SearchResultsHeading #Back {
  margin-top: 20px;
  text-decoration: none;
  color: white;
}

.SearchResultsHeading #Title {
  display: flex;
  align-items: center;
  padding-top: 20px;
}

.ListItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
  list-style-type: none;
}

.ListItem:hover {
  background-color: #111111;
}

.ListItem #Item {
  text-decoration: none;
  color: white;
}

.ListItem img {
  width: 80px;
  margin: 5px;
  max-height: 80px;
}

.ListItem #ItemContent {
  display: flex;
  align-items: center;
}

.ListItem #Name {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-left: 10px;
}

.ListItem span {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 5px;
}

/* LeaderBoard */

.Leaderboard {
  margin-top: 20;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Top Ten */

.TopTen {
  text-decoration: none;
  color: white;
}

.top {
  --offset: 50px;

  position: sticky;
  bottom: 20px;
  margin-right: 10px;
  place-self: end;
  margin-top: calc(100vh + var(--offset));

  /* visual styling */
  width: 45px;
  aspect-ratio: 1;
  background: #ff8b24;
  border-radius: 10px;
}

.top:before {
  content: "";
  position: absolute;
  inset: 30%;
  transform: translateY(20%) rotate(-45deg);
  border-top: 5px solid #fff;
  border-right: 5px solid #fff;
}

.topTracksContainer,
.topArtistsContainer {
  max-height: 90vh;
  overflow-y: auto;
  border-radius: 10px;
  background-color: #151515; /* Dark grey color */
  color: white; /* Sets text color to white */
  padding: 20px;
  margin: 10px 0; /* Adds some space above and below the container */
}

.topTracksContainer p,
.topArtistsContainer p {
  margin: 0;
  padding: 2px;
}

.topTracksContainer h2,
.topArtistsContainer h2 {
  margin: 0;
  padding-bottom: 20px;
}

.profilepage {
  min-height: 100vh;
  width: 100%;
  overflow-y: auto;
}

.homepage {
  min-height: 100vh;
  width: 100%;
  overflow-y: auto;
}

.songpage {
  min-height: 100vh;
  width: 100%;
}

.songpage h1 {
  color: white;
}

.artistcard {
  margin-top: 50px;
  width: 380px; /* or you can specify a width like 50% or 200px */
  padding: 16px; /* adjust the padding to control the space inside the box */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 15px;
  padding: 10px;
  background: #141414;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* REVIEW SECTION */
.review-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; /* Space between each review */
  margin-right: 50px;
}

.review-box {
  display: flex;
  padding: 20px;
  border: 1px solid #ccc; /* Light grey border */
  border-radius: 10px; /* Rounded corners */
  margin: 10px 0; /* Margin for spacing between reviews */
  background-color: #f9f9f9; /* Light background color */
}

.review-form-container textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.review-details {
  flex-basis: 30%; /* Takes up 30% of the box */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-right: 20px; /* Space between details and text */
}

.review-text {
  flex-grow: 1; /* Takes up remaining space */
  text-align: left;
}

.author-rating-date {
  margin-bottom: 10px; /* Space between author/rating/date and review text */
  text-align: left;
}

/* Optional: Style for the review text to make it slightly smaller than headings */
.review-text p {
  font-size: 0.9em;
}

.review-form-container form {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
  margin-right: 20px;
}

.review-form-container textarea,
.review-form-container input {
  margin-bottom: 20px;
}

.review-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 10px;
  margin-right: 20px; /* Adjust based on your layout */
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

@media (max-width: 600px) {
  .navbar {
    position: static; /* or fixed, depending on your design */
    width: 100%; /* Make the navbar full-width */
    height: auto; /* Adjust height as necessary */
  }
}
