.profile-container {
  display: flex;
  background-color: #1f1e1e;
  height: 100vh;
  width: 100vw;
  font-family: "Arial", sans-serif;
}

.sidebar {
  background-color: #111111;
  color: #fff;
  padding: 20px;
  min-width: 150px;
}

.menu-item {
  margin-bottom: 10px;
  cursor: pointer;
}

.menu-item.active {
  color: #f309a5;
}

.profile-card {
  background-color: #2e2e2e;
  margin: 20px;
  flex-grow: 1;
  border-radius: 6px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #000000;
  padding-bottom: 20px;
  margin-bottom: 20px;
  color: #fdfdfd;
}

.profile-image {
  border-radius: 50%;
  margin-right: 20px;
}

.customer-id {
  color: #ffffff;
  font-size: 0.9rem;
}

.profile-info {
  display: flex;
  justify-content: space-between;
}

.profile-section {
  width: 45%;
}

.profile-section h2 {
  color: #ffffff;
  margin-bottom: 10px;
}

.profile-section p {
  color: #e4e4e4;
  line-height: 1.6;
}
