html, body {
    height: auto;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    background-color: rgb(164, 160, 137);
}

#main {
    position: auto;
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
}

#app {
    width: 100%;
    height: auto;
    display: flex;
}

.topTracksContainer, .topArtistsContainer {
    max-height: 90vh;
    overflow-y: auto;
}

.profilepage {
    min-height: 100vh;
    width: 100%;
    overflow-y: auto;
}